@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .slider {
    /* width: 85%; */
    position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  }

  .images img {
    width: auto; /* Override full width for images */
    height: 500px; /* Adjust image height */
  }
  #img{
    width: 100%; /* Override full width for images */
  }
  #img1:checked ~ .m1 {
    margin-left: 25px;
  }
  #img2:checked ~ .m2 {
    margin-left: -100%;
  }
  #img3:checked ~ .m3 {
    margin-left: -200%;
  }
  #img4:checked ~ .m4 {
    margin-left: -300%;
  }
  #img5:checked ~ .m5 {
    margin-left: -400%;
  }
  #img6:checked ~ .m6 {
    margin-left: -500%;
  }
  #img7:checked ~ .m7 {
    margin-left: -600%;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  #contact{
    margin-top: -30rem;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .slider {
    /* width: 85%; */
    position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  }

  .images img {
    width: auto; /* Override full width for images */
    height: 500px; /* Adjust image height */
  }
  #img{
    width: 100%; /* Override full width for images */
  }
  #img1:checked ~ .m1 {
    margin-left: 25px;
  }
  #img2:checked ~ .m2 {
    margin-left: -100%;
  }
  #img3:checked ~ .m3 {
    margin-left: -200%;
  }
  #img4:checked ~ .m4 {
    margin-left: -300%;
  }
  #img5:checked ~ .m5 {
    margin-left: -400%;
  }
  #img6:checked ~ .m6 {
    margin-left: -500%;
  }
  #img7:checked ~ .m7 {
    margin-left: -600%;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .slider {
    /* width: 85%; */
    position: relative;
  width: 90%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  }

  .images img {
    width: auto; /* Override full width for images */
    height: 500px; /* Adjust image height */
  }
  #img{
    width: 100%; /* Override full width for images */
  }
  #img1:checked ~ .m1 {
    margin-left: 25px;
  }
  #img2:checked ~ .m2 {
    margin-left: -100%;
  }
  #img3:checked ~ .m3 {
    margin-left: -200%;
  }
  #img4:checked ~ .m4 {
    margin-left: -300%;
  }
  #img5:checked ~ .m5 {
    margin-left: -400%;
  }
  #img6:checked ~ .m6 {
    margin-left: -500%;
  }
  #img7:checked ~ .m7 {
    margin-left: -600%;
  }
}
